body, #app, #main, html{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #233;
    overflow: hidden;
}


*{
    border-color: #30363d !important;
    scrollbar-width: thin;
    scrollbar-color: #58a6ff transparent;
    &::selection {
        background-color: transparent;
        color: #0351aa;
    }
}

.color-background{
    background-color: #0d1117;
}

*{
    color: #c9d1d9;
}

.color-header{
    background: #333333
}


.color-separate{
    background-color: #161b22
}
    @keyframes item-hover {
        0%{
            stroke-dasharray: 100px 100px;
            stroke-dashoffset: 100px;
        }

        100%{
            stroke-dasharray: 100px 100px;
            stroke-dashoffset: 100px;
        }
    }

.item{
    transition: transform 0.3s ease-out;
    &:hover{
        cursor: pointer;
        background-color: #555;
        transform: scale(1.2) rotate(-15deg);
    }
    height: 30px;
    width: 30px;
}

.star:hover{
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    transform: scale(1.2) rotate(180deg);
}

.star svg{
    animation: star-shadow 2s infinite;
    border-radius: 16px;
}

@keyframes star-shadow{
    0%{
        box-shadow:0 0 5px 2px #ffd700;
    }

    50%{
        box-shadow:0 0 15px 5px #ffea00;
    }

    100%{
        box-shadow:0 0 5px 2px #ffd700;
    }
}

.sessions {
    transition: border-color 0.3s ease-out;
    &:hover {
        cursor: pointer;
        border-color: #58a6ff !important;
    }
}

.selected-session {
    border-color: #58a6ff !important;
}
.session-input .el-input .el-input__wrapper {
    background-color: transparent;
    border-radius: 0 0 16px 16px;
    box-shadow: none;
    &.el-input__inner {
        height: 100%;
    }
}


.session-input .el-input .el-input__inner {
    color: #c9d1d9;
    letter-spacing: 1.5px;
}

.scrollbar::-webkit-scrollbar {
    width: 100%;
}
.scrollbar {
    margin-top: 12px;
}
.allow-skip-bottom {
    animation: allow-skip-bottom 0.5s ease-in forwards;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
    &:hover {
        background-color: #58a6ff !important;
        cursor: pointer;
    }
}

@keyframes allow-skip-bottom {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-10px);
    }
}

.msg-user-right .msg-user-content {
    background: #0351aa !important;
    // align-self: flex-end;
}

// .msg-user-right .msg-user-from-user{
//     align-self: flex-end;
// }

// .msg-user-right .msg-user-time {
//     align-self: flex-end;
// }

// .msg-user-right .msg-user-avater {
//     justify-self: flex-end !important;
//     align-self: flex-end !important;
// }

.public-chat {
    color: orange !important;
}

.public-chat-before {
    color: #58a6ff !important;
}

